*.accdb
*.db
*.db-shm
*.db-wal
*.dbf
*.icloud
*.lcov
*.log
*.mdb
*.orig
*.pdb
*.pid
*.pid.lock
*.pyc
*.seed
*.sqlite3
*.swp
*.tgz
*.tsbuildinfo
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fusebox/
.grunt
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.stylelintcache
.svelte-kit
.temp
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vscode-test
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
._*
/.idea/
/.vscode/
/node_modules
bower_components
build/Release
coverage
dist
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
web_modules/
yarn-debug.log*
yarn-error.log*